[Unit]
  Description=mongo
  After=docker.service
  Requires=docker.service

  [Service]
  Type=simple
  TimeoutStartSec=0
  ExecStartPre=-/usr/bin/docker kill mongo
  ExecStartPre=-/usr/bin/docker rm mongo
  ExecStart=/srv/mongo.sh
  ExecStop=/usr/bin/docker rm -f mongo

  [Install]
  WantedBy=multi-user.target
