[Unit]
  Description=nginx api proxy
  After=docker.service
  Requires=docker.service

  [Service]
  Type=simple
  TimeoutStartSec=0
  ExecStartPre=-/usr/bin/docker kill nginx
  ExecStartPre=-/usr/bin/docker rm nginx
  ExecStart=/srv/nginx.sh
  ExecStop=/usr/bin/docker rm -f nginx

  [Install]
  WantedBy=multi-user.target
